@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,600,800");
* {
  font-family: "EB Garamond", Wingdings, serif;
}

@import './animations.scss';

:root {
  --l: 0%;
}

body {
  // background-color: blue;
  margin: 0;
  overflow-x: hidden;
}

// General typography

p, li {
  font-size: 24px;
  line-height: 1.4;
}

br {
  display: block;
  margin-bottom: 10px;
  content: "";
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 0;
}
// Step it out
ul {
@for $i from 1 through 12 {
  $indent: ($i * 24px);

  li:nth-child(#{$i + 1}) {
    margin-left: $indent;
  }
}
}

p {
  margin: 40px 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

li p {
  margin: 0;
}
li blockquote {
  margin: 0;
}

ul + ul {
  margin-top: 40px;
}

p + ol,
p + ul {
  margin-top: -30px;
}

h3 {
  font-size: 36px;
  margin: 60px 0;
}

.poetry {
  padding: 5vw;
}

.poetry {
  // p,h1,h2,h3{
  max-width: 666px;
  margin-left: auto;
  margin-right: auto;
// }
}
.-c { text-align: center; }
.-r {
  text-align: right;
}

// fade out scroll effect.
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0c1a3c;
  color: white;
  
}

h1 {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15)
}

$head-height: 100vh;
$bridge-height: 120vh;
$overlap: 60vh;
$main-bg: rgba(255,255,255,1);
$main-offset: $head-height + $bridge-height;

main {
  z-index: 2;
  background: $main-bg;
  // padding-top: 100vh;
  position: relative;
  margin-top: $main-offset;
  padding-top: 160px;
}

.poem {
  padding-bottom: 50vh;
}
main::before {
  content: "";
  height: $bridge-height;
  width: 100%;
  background: linear-gradient(rgba(225,235,255,0), $main-bg);
  position: absolute;
  top: -$bridge-height;
}


hr {
  display: block;
  width: 40px;
  margin: 40px auto;
  border: none;
  border-bottom: solid 1px black;
}



blockquote {
  margin-left: 0;
  margin-right: 0;
  text-transform: lowercase;
  color: #777;
  font-style: italic;
  text-align: right;
}

.radio {
  color: transparent;
  text-shadow: -2px 2px 3px #333, -2px 2px 9px #777;
  text-shadow: -2px -3px 1px #FFF, 0px 0px 60px #000, 0px 0px 60px #000, 0px 0px 60px #000, 0px 0px 60px #000;
  transform: skewX(10deg);
}


.poetry p {
  position: relative;
  z-index: 3;
}

svg {
  display: block;
  overflow: visible;
}


//bullshit

.the-sun {
  width: 33%;
  position: absolute;
  top: 0;
  right: -20px;
  top: 15vh;
}